# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cliente/node_modules
/cliente/.pnp
/cliente/.pnp.js
.yarn/install-state.gz

# testing
/cliente/coverage

# next.js
/cliente/.next/
/cliente/out/

# production
/cliente/build

# misc
/cliente./DS_Store
/cliente/*.pem

# debug
/cliente/npm-debug.log*
/cliente/yarn-debug.log*
/cliente/yarn-error.log*

# local env files
/cliente/.env*.local

# vercel
/cliente/.vercel

# typescript
/cliente/*.tsbuildinfo
/cliente/next-env.d.ts

/GraphQl/node_modules
/GraphQl/.env

